* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background-color: #758ECD ;
  font-size: 16px;
  line-height: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 15px;
  
}

header nav {
  background-color: #624CAB;
  display: flex;
}

header li a:hover {
  background-color: #758ECD ;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.text-color-primary {
  color: black;
}

.text-color-secondary {
  color: white;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 2px;
}

.button-primary {
  color: white;
  background-color: #7189FF;
}

.button-secondary {
  color: white;
  background-color: tomato;
}

.form-wraper {
  padding: 15px;
  background-color: white;
  width: 40%;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 16px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 2px;
}

.input-group {
  display: flex;
  width: 100%;
}

.input-group-add-on {
  border: 1px solid #ced4da;
  border-radius: 3px;
  color: #495057;
  padding: 6px 12px;
  background-color: #e9ecef;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  color: white;
  background-color: #624CAB;
  width: 100%;
  justify-content: center;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 110%;
}

@media only screen and (max-width: 980px) {
  .form-wraper {
    width: 80%;
  }
}